<header id="theme">
    <nav class="navbar navbar-expand-lg bg-light navbar-light p-2">
        <a class="navbar-brand" href="/">
            <img class="rounded-circle" src="{{ base.url | prepend: site.url }}/profile.jpg" alt="logo" style="width: 40px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts/">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <label id="switch" class="switch">
                        <input type="checkbox" class="theme-toggler" id="darkToggle">
                        <span class="slider round"></span>
                    </label>
                </li>
            </ul>
        </div>
    </nav>
    <!-- search bar -->
    {% include search_result_template.html %}
    {% include algolia.html %}
</header>