---
layout: default
---
<div class="container-fluid pt-4 px-4 border">
    <!-- post header -->
    <div>
        {% include breadcrumbs.html %}
        <h1 class="pb-2">{{ page.title }}</h1>
        <p>
            <span class="badge rounded-pill bg-secondary me-1">
                <img src="{{ base.url | prepend: site.url }}/profile.jpg" 
                        class="rounded-circle img-thumbnail me-2" 
                        alt="Profile Image" 
                        style="width: 30px; height: 30px">{{ page.author }}
            </span>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="badge text-secondary">{{ page.date | date: date_format }}</span>
        </p>
    </div>
    <!-- post content -->
    <div>
        {{ content }}
    </div>
    <!-- post comment -->
    <hr>
    <div class="my-3">
        <p>0 comments</p>
        <textarea class="container-fluid bg-light text-dark" placeholder="Leave a comment.."></textarea>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="button"><?php echo $comment;?>Submit</button>
        </button>
    </div>
</div>
    